#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.verticalLine {
  border: 1px solid
}

#columns {
  display:flex;
  margin:auto;
  min-width:80%;
}

#inputs {
  flex:1;
}

#preview {
  flex:1;
}